#stat-articles {
    width: 100% !important;
   border-right: none !important;
}

#stat-sidebar {
    float: none !important;
    height: 75px !important;
    width: 100% !important;
    border-bottom: 1px solid #EEE;
    padding: 0 !important;
    margin-top: 20px;
    clear: both !important;
}

#stat-sidebar #stat-more {
    overflow: initial !important;
    width: 500px !important;
    height: 30px !important;
    float: left;
    margin-top: 15px;
}


#stat-more li {
    display: inline;
    margin-right: 35px;
    font-size: 25px;
}

#stat-search {
    float: right !important;
}

code {
   font-family: "Courier New", Courier, monospace !important;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

p.footnote {
    margin-bottom: 0px !important;
    font-size: 10px;
}

q  {
   font-style: italic;
}

#stat-articles article section table, #stat-articles article section h1, #stat-articles article section h2, #stat-articles article section h3, #stat-articles article section h4, #stat-articles article section h5, #stat-articles article section h6, #stat-articles article section pre, #stat-articles article section blockquote, #stat-articles article section ul, #stat-articles article section ol, #stat-articles article section p {
    margin-bottom: 10px !important;
}

h2 {
    margin-top: 25px !important;
}

h3 {
    margin-top: 15px !important;
}

.postAuthorImage,
.authorsAuthorImage {
    margin: 0 8px 0 0;
    padding: 2px;
    background-color: white;
    border: 1px solid #EEEBDE;
}

.postAuthorImage {
    float: right;
}

.authorsAuthorImage {
    float: left;
}

.authorInfo {
    clear: both;
    width: 100%;
    height: 80px;
    margin-top: 40px
}

.authorInfo h2 {
    margin: 7px 0 !important;
    float: left;
}

#stat-articles #disqus_thread {
    border: 1px solid #DED9D4 !important;
    background-color: #FFFFFF !important;
}